# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\dev\java\java_projects\__jm_pp_homeworks\pp_3_1_4_boot_resttemplate\second\pp_3_1_4_resttemplate_2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
